{% extends 'news/base.html' %}

{% block content %}

    <div class="jumbotron">
        <h1>Welcome to your dashboard</h1>
        {% if hide_me == True %}
        <p>You can scrape in {{ next_scrape }} hours.</p>
        {% else %}

        <form method="POST "action="{% url 'scrape' %}">
            {% csrf_token %}
            <button type="submit" clas="btn btn-primary">Get my morning news</button>
        </form>
        {% endif %}
         <form method="POST "action="{% url 'weather' %}">
            {% csrf_token %}
            <button type="submit" clas="btn btn-primary">Get my weather</button>
        </form>
    </div> 
        <div class="container">

                    <h3>Weather</h3>
                {% for weath in weather_in %}
                <div class="card text-center" style="width: 100%;">
                    <div class="card-body">
                    <h5 class="card-title"><a href="">Weather: {{ weath.weather }}</a></h5>
                    <h5 class="card-title"><a href="">HPa: {{ weath.pressure }}</a></h5>

                    <h5 class="card-title"><a href="">{{ weath.degree }}</a></h5>
                    </div>
                {% endfor %}
                </div>
    <div class="container">
    
                <div class="col-sm-6 text-center">
                    <h3>News</h3>
                {% for object in object_list %}
                <div class="card text-center" style="width: 100%;">
                    <div class="card-body">
                    <img class="card-img-top" src="{{ object.image.url }}">
                    <h5 class="card-title"><a href="{{ object.url }}">{{ object.title }}</a></h5>
                    </div>
                </div>
                </div>
                {% endfor %}
    
{% endblock %}




