{% extends 'news/base.html' %}

{% block content %}

    <div class="jumbotron">
        <h1>Welcome to your dashboard</h1>

        {% if hide_me == True %}
            <p>You can scrape news in {{ next_scrape }} hours.</p>
        {% else %}

        <form method="POST "action="{% url 'scrape' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-info mb-4 mt-4 btn--mod">Get my morning news</button>
        </form>
        {% endif %}
       <h4>BTC price is {{ price }}$</h2>
    </div> 
        <div class="jumbotron">
            <h3>Weather</h3>

            <form method="POST" action="{% url 'weather' %}">
                {% csrf_token %}
                <input type="text" placeholder="city" name="city" id="city"><br> 
                <button type="submit" class="btn btn-info mb-4 mt-4 btn--mod">Get my weather</button>
            </form>
            {% if hide_weather == True %}

            {% else %}
                {% for weath in weather_in %}
                <div class="card text-center" style="width: 100%;">
                    <div class="card-body">
                        {% if weath.city == "" %}
                        <h5 class="card-title">City: warsaw</h5>
                        {% else %}
                        <h5 class="card-title">City: {{ weath.city }}</h5>
                        {% endif %}
                        <h5 class="card-title">Weather: {{ weath.weather }}</h5>
                        <h5 class="card-<h5 class="card-title">HPa: {{ weath.pressure }}</h5>

                        <h5 class="card-title">{{ weath.degree }}&#176;C</h5>
                        <a class="btn btn-primary btn--mod" href="{% url 'news:weather_remove' pk=weath.pk %}"><span class="fa fa-remove"></span></a>

                    </div>
                {% endfor %}
                {% endif %}

                </div>
    <div class="container">
    
        <div class="col-sm-8 text-center">
            <h3>News</h3>
            {% for article in object_list %}
                <div class="card text-center" style="width: 100%;">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ article.image.url }}">
                            <h5 class="card-title"><a href="{{ article.url }}">{{ article.title }}</a></h5>
                            <a class="btn btn-primary btn--mod" href="{% url 'news:article_remove' pk=article.pk %}"><span class="fa fa-remove"></span></a>
                        </div>
                </div>
                {% endfor %}
    
{% endblock %}


